extends base 

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Password
      form.form.form--login
        .form__group
          label.form__label(for='email') Enter Your Email Address
          input#email.form__input(type='email', placeholder='you@example.com', required)
          
        .form__group
          button.btn.btn--green Click Here

  script(src='/js/forgot.js')